* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0; }

#home {
  background-image: url("../images/home-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  text-transform: uppercase; }

@keyframes headerText {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@-webkit-keyframes headerText {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
@keyframes subtitle {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
@-webkit-keyframes subtitle {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }
.homePageText {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin-top: 35vh; }
  .homePageText .headerText h1 {
    font-weight: 800;
    font-size: 45px;
    animation: headerText 3s;
    -webkit-animation: headerText 3s; }
  .homePageText .underHeaderText {
    padding: 5px;
    animation: subtitle 3s;
    -webkit-animation: subtitle 3s; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin: 10px; }

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 4px rgba(255, 255, 255, 0.3);
  border-radius: 5%;
  color: #555; }

.navbar {
  background-color: transparent;
  border: none;
  transition: 2s; }

main > .container-fluid {
  background-color: #fff; }

#about-me {
  text-align: justify;
  margin-top: 30px; }

.profil-photo .img-circle {
  display: block;
  width: 180px;
  margin: auto auto; }

.about-me-paragraph {
  margin: 20px auto; }
  .about-me-paragraph p, .about-me-paragraph h2 {
    display: block;
    margin: 3px 0;
    color: #555; }
  .about-me-paragraph h2 {
    font-weight: 700; }

.education-header {
  text-align: center;
  margin-top: 30px; }
  .education-header h2 {
    margin: 25px auto;
    color: #555;
    font-weight: 700; }

.time-line {
  padding-bottom: 50px; }

.time-line ul {
  transform: translateX(-130px); }
  .time-line ul li {
    list-style: none;
    display: block;
    width: 11px;
    background-color: #555;
    margin: auto auto; }

.time-line ul li .point {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  transform: translate(-9px, -1px); }

.glyphicon.glyphicon-chevron-up {
  color: #555;
  font-size: 50px;
  position: absolute;
  transform: translate(-22px, -15px); }

.education-steps {
  display: block;
  padding: 20px 50px;
  transform: translateY(30px);
  white-space: nowrap;
  color: #fff; }
  .education-steps p {
    display: block;
    background-color: #555;
    min-width: 250px;
    padding: 15px;
    border-radius: 5px; }

.education-steps > p::first-line {
  font-weight: 700;
  font-size: 15px; }

#skills > div {
  text-align: center;
  padding: 10px; }
  #skills > div p {
    margin: 10px;
    font-style: italic; }
  #skills > div h2 {
    color: #555;
    font-weight: 700;
    margin-bottom: 30px; }

#contact {
  background-color: #acacac;
  color: #fff;
  padding-bottom: 20px;
  text-align: center; }
  #contact #contact-form {
    max-width: 350px;
    margin: 0 auto; }

footer {
  background-color: #555;
  color: #fff; }

footer .container-fluid h4 {
  margin: 20px; }

p.fastMenu a,
p.fastMenu a :hover {
  color: #fff;
  text-decoration: none; }

.separator {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: -15px auto 10px auto; }

footer .icon {
  display: inline-block;
  margin: auto auto;
  padding: 20px; }

.icon-fb,
.icon-gitHub {
  width: 40px; }

p.fastMenu,
p.contactData {
  margin: auto auto;
  padding-top: 20px; }

/*# sourceMappingURL=style.css.map */
